* @oodeh @nirsisr
global_utils/ @oodeh @nirsisr @labuyous
multi-agent/ @oodeh @nirsisr @labuyous
ci/ @sfiresht @yhabushi @mcarmi
helm/ @sfiresht @yhabushi @mcarmi
rag/ @oodeh @nirsisr @labuyous
ui/ @nirsisr @labuyous @mcarmi
shared-resources/ @oodeh @nirsisr @sfiresht
backend/ @sfiresht @yhabushi @odaiodeh @nirsisr @labuyous @mcarmi
.github/ @sfiresht @yhabushi @odaiodeh
.cursor/ @sfiresht @yhabushi @odaiodeh @nirsisr @labuyous @mcarmi
