flask 
flask-cors
websocket-client
websockets 
scapy
pymongo
supervisor
uwsgi
webargs
flask_pymongo
pandas
requests
networkx
spacy
#lsof
matplotlib
PyYAML
transformers
tree-sitter==0.21.3
# Should run from the venv: python -m spacy download en_core_web_sm
