body, html, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Red Hat Display', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;  
  height: 100vh;
  background-color: #f9f9f9;
}

.toolbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 8%;
}

.dropdown-buttons .MuiButton-root {
  background-color: black;
  color: white;
  border: solid transparent !important;
  font-size: 18px;
  width: 130px;
  height: 8vh; 
  text-transform: none;
  margin-left: 8px; 
}

.dropdown-buttons .MuiButton-root:hover {
  border-top: solid red !important;
  background-color: black; 
}

.dropdown-buttons .MuiButton-root.selected {
  border-top: solid red !important; 
  background-color: black !important; 
}

.toolbar-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 5vh;
}

.role-selection {
  background-color: #f9f9f9;
  width: 180px;
}

.role-selection .MuiOutlinedInput-notchedOutline {
  border-color: red;
}

.role-selection .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: darkred; 
}

.role-selection .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: red; 
}

.role-selection .MuiInputLabel-root {
  color: red;
  font-style:italic;
  margin-top: 11px;
}

.role-selection .MuiInputLabel-root.Mui-focused {
  color: red; 
}

.info {
  width: 80%;
  margin: 50px auto;
  margin-top: 1vh;
  padding: 3;
  border-radius: 2; 
  box-shadow: 3;
}

.main-content {
  flex: 1;
  height: 85%;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.progress-menu {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 20px;
  width: 25%;
}

.progress-list {
  list-style-type: none;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 0;
  margin: 0;
}

.progress-item {
  display: flex;
  align-items: center; 
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f9f9f9;
  border: 3px solid #e0e0e0;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.label {
  margin-left: 10px; 
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 40px;
}


.line {
  width: 2px; 
  height: 50px; 
  background-color: #e0e0e0;
  position: absolute;
  top: 30px; 
  left: 17.5px;
  transform: translateX(-50%);
  z-index: 0;
}

.progress-item.completed .circle {
  background-color: #f5504c;
  border-color: #f5504c;
  color: white;
}

.progress-item.active .circle {
  background-color: #f5504c;
  border-color: #f5504c;
  color: white;
}

.progress-item.active .line {
  background: linear-gradient(to bottom, #f5504c 50%);
}

.progress-item.completed .line {
  background-color: #f5504c;
}

.progress-item:last-child .line {
  display: none;
}

.chat-top-buttons .end-button {
  background-color: red;
  width: 45%;
  font-size: 12px;
}

.end-button,
.form-container .end-button,
.forms-table .end-button,
.form-section .end-button,
.form-bottom-button .end-button,
.toolbar-buttons .end-button {
  background-color: red;
}

.end-button:hover,
.chat-top-buttons .end-button:hover,
.form-container .end-button:hover,
.forms-table .end-button:hover,
.form-section .end-button:hover,
.form-bottom-button .end-button:hover,
.toolbar-buttons .end-button:hover {
  background-color: #bb0000;
}

.end-button:disabled,
.chat-top-buttons .end-button:disabled,
.form-container .end-button:disabled,
.forms-table .end-button:disabled,
.form-section .end-button:disabled,
.form-bottom-button .end-button:disabled,
.toolbar-buttons .end-button:disabled {
  background-color: #9a9595;
}

.form-section .tree-button {
  color: black;
  border-color: black;
  min-width: 0;
  padding: 4px; 
}

.form-section .tree-button .MuiButton-startIcon {
  margin: 0px; 
}

.form-section .tree-button:hover {
  background-color: #f5f5f5; 
  border-color: black; 
}

.form-tabs {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-tabs .MuiTab-root {
  font-weight: bold;
  text-transform: none;
}

.form-tabs .MuiTab-textColorPrimary.Mui-selected {
  color: #d32020;
}

.form-tabs .MuiTabs-indicator {
  background-color: #d32020;
}

.form-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 98%;  
}

.form-section.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.disabled-tab {
  pointer-events: none;
  opacity: 0.5;
}

.error {
  color: red;
  font-size: 0.9em;
}

.form-bottom-button {
  display: flex; 
  justify-content: flex-end;
  margin-top: 10px;
}

.button-group {
  text-align: right;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.table-container {
  margin: 50px 20px;
}

.forms-table,
.table-chat-container {
  width: 95%;
  height: 5vh;
  border-collapse: collapse;
}

.forms-table th,
.table-chat-container th,
.forms-table td,
.table-chat-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.forms-table th,
.table-chat-container th {
  background-color: #e0e0e0;
}

.forms-table tr:nth-child(even),
.table-chat-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.forms-table tr:hover,
.table-chat-container tr:hover {
  background-color: #f1f1f1;
}

.forms-table {
  table-layout: fixed;
  margin-top: 0;
}

.forms-table .progress-table .MuiTableCell-root {
  width: 10px;
}

.table-chat-container {
  margin-top: 10px;
}

.table-cell {
  position: relative;
}

.tooltip-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.tooltip-container h3 {
  margin-top: 0;
}

.tooltip-container ul {
  list-style-type: none;
  padding-left: 0;
}

.tooltip-container li {
  margin-bottom: 5px;
}

.tooltip-header {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tooltip-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  font-size: 12px;
}

.tooltip-list li {
  margin: 5px 0;
}

.code-visualizer {
  margin: 10px;
  border-radius: 4px;
  width: 96%;
  display: flex !important;
  max-height: 50vh;
}

.code-visualizer code {
  padding: 10px;
  white-space: pre-wrap !important;
}

.project-name {
  font-weight: bold;
}

.project-name.ODS-CI {
  color: lightcoral;
}

.project-name[class*="Openshift QE"] {
  color: lightblue;
}

/* Overlay container */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.model-selection-wrapper {
  height: calc(100% - 10px);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.chat-container-wrapper {
  height: calc(100% - 10px);
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: row;
}

.chat-top-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.temp-slider {
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-tooltip {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.drawer {
  display: flex;
  flex-direction: column;
}

.drawer .inner-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer .MuiPaper-root {
  position: absolute;
}

.drawer .MuiDrawer-paper {
  width: 17%;
  box-sizing: border-box;
  overflow-y: auto;
}

.statistics-graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.graph-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.graph-container {
  width: 45%;
  max-width: 400px;
  margin: auto;
}

.graph-container + .graph-container {
  margin-top: 40px;
}

.MuiChartsLegend-root {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.MuiChartsLegend-column {
  flex-direction: column; 
  margin: 10px 0;
}

.step-details-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-details-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
}

.step-details-list li {
  display: flex;
  align-items: baseline;
  margin: 8px 0;
  font-size: 14px;
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.step-details-list li strong {
  min-width: 100px;
  margin-right: 10px;
  color: #d32020;
}

.step-details-list li span {
  flex-grow: 1;
}

.custom-step .MuiStepLabel-root .Mui-completed {
  color: red;
}

.custom-step .MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel {
  color: grey;
}

.custom-step .MuiStepLabel-root .Mui-active {
  color: red;
}

.custom-step .MuiStepLabel-label.Mui-active.MuiStepLabel-alternativeLabel {
  color: grey;
}

.custom-step .MuiStepLabel-root .Mui-active .MuiStepIcon-text {
  fill: white;
}

.main-content .cs-message-list__typing-indicator-container div {
  color: #8d8c8c;
}

.main-content .cs-message-input {
  height: 10%;
}

.main-content .cs-message--incoming .cs-message__content,
.main-content .cs-chat-container .cs-message-input,
.main-content .ps__thumb-y,
.main-content .ps__rail-y:hover .ps__thumb-y,
.main-content .ps__rail-y:active .ps__thumb-y {
  background-color: white;
}

.main-content .cs-message-input__content-editor-wrapper,
.main-content .cs-message-list,
.main-content .ps__rail-y:hover,
.main-content .ps .ps__rail-y:hover,
.main-content .ps__rail-y {
  background-color: #e5e5e5;
}

.main-content .cs-message-input__content-editor,
.main-content .cs-message-input--disabled .cs-message-input__content-editor-wrapper {
  background-color:#e5e5e5;
}

.main-content .cs-message--outgoing .cs-message__content {
background-color: #8d8d8d;
}

.main-content .cs-typing-indicator__dot {
background-color: #e0e0e0d5;
}

.main-content .cs-button--send,
.main-content .cs-button--attachment {
  color: black;
}

.text-field-rename .MuiOutlinedInput-root {
  border-radius: 4px;
}

.text-field-rename .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgb(230, 134, 134);
}

.text-field-rename .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(230, 134, 134);
}

.custom-list-item-button.Mui-selected:hover {
  background-color: rgba(255, 99, 71, 0.3); 
}

.MuiListItemButton-root.custom-list-item-button.Mui-selected,
.MuiListItemButton-root.custom-list-item-button.editing.Mui-selected,
.MuiListItemButton-root.custom-list-item-button.Mui-selected:hover {
  background-color: rgba(93, 93, 93, 0.185);
}

.MuiListItemButton-root.custom-list-item-button.Mui-focusVisible {
  background-color: white;
}


.mode-selection {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: red;
}

.mode-selection .MuiButton-root {
  color: red; 
  border-color: red;
}

.mode-selection .MuiButton-root:hover {
  background-color: #bb0000;
}

.mode-selection .MuiButton-contained {
  background-color: red; 
  color: white;
}

.linear-progress-container {
  width: 100%;
}

.linear-progress-red {
  background-color: rgba(154, 147, 147, 0.2) !important; 
  border-radius: 10px;
  height: 16px !important ;
}


.linear-progress-red .MuiLinearProgress-bar {
  background-color: #ff0d00;
  background: rgb(220, 32, 32) !important;
  border-radius: 10px;
}

.custom-tooltip {
  font-size: 13px !important;
  max-width: none !important; /* Prevents automatic wrapping */
  background-color: rgba(0, 0, 0, 0.8) !important; /* Adjust background */
  color: white !important; /* Adjust text color */
}

.custom-tooltip-text {
  margin: 0; /* Ensures no extra spacing */
}