flask 
flask-cors
requests
tiktoken
langchain
numpy
sentence-transformers
qdrant-client
# docling  # Now using docling endpoint instead of local library
pydantic-settings
Authlib
PyJWT
python-dotenv
pydantic
