#model
model_name_or_path: {{ env["MODEL_NAME_OR_PATH"] -}}
adapter_name_or_path: saves/test
template: {{ env["TEMPLATE"] -}}
finetuning_type: lora

### export
export_dir: ~/exports/test
export_size: 2
export_legacy_format: false