### model
model_name_or_path: {{ env["MODEL_NAME_OR_PATH"] | default("Qwen/Qwen2.5-Coder-14B-Instruct") -}} 
#model_name_or_path: Qwen/Qwen2.5-Coder-14B-Instruct / Qwen/Qwen2.5-Coder-7B-Instruct / meta-llama/Llama-3.2-1B-Instruct
trust_remote_code: true 

### method
stage: sft
do_train: true
finetuning_type: lora
lora_rank: {{ env["LORA_RANK"] | default(16) -}}
lora_alpha: {{ env["LORA_ALPHA"] | default(16) -}}
lora_dropout: {{ env["LORA_DROPOUT"] | default(0.1) -}}
lora_target: all

### dataset
dataset: {{ env["DATASET"] | default('mpc_training') -}}
dataset_dir: /app/LLaMA-Factory/data
#we use usualy qwen but sometimes llama3
template: {{ env["TEMPLATE"] | default('qwen') -}}
#calculated by the tokenizer script 
cutoff_len: {{ env["CUTOFF_LEN"] | default('8192') }}    
max_samples: {{ env["MAX_SAMPLES"] | default('500000') -}}
preprocessing_num_workers: 16

### output
output_dir: /app/LLaMA-Factory/saves/test
logging_steps: 5
#calculated by the entrypoint script
save_steps: {{ env["SAVE_STEPS"] }} 
plot_loss: true
overwrite_output_dir: true
report_to: none
packing: false

### train
per_device_train_batch_size: {{ env["PER_DEVICE_TRAIN_BATCH_SIZE"] | default(1) -}}
gradient_accumulation_steps: {{ env["GRADIENT_ACCUMULATION_STEPS"] | default(16) -}}
max_grad_norm: 1.0
flash_attn: fa2
learning_rate: {{ env["LEARNING_RATE"] | default("!!float 5e-05") -}}
num_train_epochs: {{ env["NUM_TRAIN_EPOCHS"] | default("20.0") -}}
lr_scheduler_type: cosine
warmup_ratio: 0.1
warmup_steps: 0
bf16: true
ddp_timeout: 180000000
optim: adamw_torch 
{% if env["QUANTIZATION"] %}
quantization_bit: 4
double_quantization: true
quantization_method: bitsandbytes
{% endif %}
enable_liger_kernel: true