[mongodb]
;url = mongodb://llm-mongodb:27017
;url = mongodb://${MONGODB_IP}:{MONGODB_PORT}
url = mongodb://mongodb:27017
backend_collection = be
;mongo_port = ${MONGODB_PORT}
mongo_port = 27017
dot_identifier = [dot]
size_limitation = 1000

[development]
hostname = 0.0.0.0
asc_port = 1235
agents_port = 8760
backend_port = 8002

[network]
vlan_test_capture_time = 20

[production]
hostname = 0.0.0.0
asc_port = 11235
agents_port = 11234
backend_port = 8080

[production1]
hostname = 0.0.0.0
asc_port = $ASC_PORT #11235
agents_port = $AGENTS_PORT
backend_port = $BE_PORT
lucid_ui_port = $UI_PORT
